<mat-toolbar color="primary" class="navbar">
    <div style="position: absolute"> CRM TELKO</div>

    
    <div id="menu">
          <span> <a routerLink=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            Accueil </a> </span>
          <span> <a href=""> Clients </a></span>
          <span> <a href=""> Services </a></span>
          <span> <a href=""> Marketing </a></span>
    </div>

    
    <span>
          <nav>
                <span> {{whoisconnected}}</span>
                 <img src="../../assets/admin.jpg" alt="">

          </nav>
    </span>
   

</mat-toolbar>